@use "../utilities/variables";

.p-footer {
    
  background-color:rgb(3, 10, 132);
    color: goldenrod;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    border-radius: 25px;
    bottom: 0;
    width: 100;}