@use "../utilities/variables";
.navbar {
  background: rgb(91, 1, 91);
  list-style: none;
   
  .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 2rem;
    color: rgb(91, 1, 91);
    transition: color 0.2s;
    
    &:hover {
      color: rgb(245, 182, 24);
    &:hover {
    transform: scale(.9);
  }
    }
  }

  img {
  width: 3%;
  height: 3%;
  transition: 0.5s;
  object-fit: cover;
  .img-1{
    width: 3%;
  height: 3%;
  transition: 0.5s;
  object-fit: cover;
  }
  
  &:hover {
    transform: scale(1.5);
  }

}

  .navbar-nav {
    .nav-link {
      color: rgb(91, 1, 91);
      transition: color 0.2s;

      &.active {
        font-weight: 700;
        opacity: 1;
      }

      &:hover {
       color: rgb(245, 182, 24);
       &:hover {
      transform: scale(.9);
  }
      }
    }
  }

  .dropdown-toggle {
    color: rgb(91, 1, 91);
  &:hover {
    color: rgb(245, 182, 24);
  } }

}

.dropdown-menu {
  background: #fff;
  color: #222;
  border: 1px solid #eee;

  .dropdown-item {
    color: rgb(91, 1, 91);
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: variables.$pure-black;
      color: goldenrod;
    }
  }
}

.form-control {
  background:rgb(243, 233, 213);
  color:rgb(91, 1, 91);
  border: 1px solid white;
}

.btn-search {
  background: rgb(91, 1, 91);
  color: white;
  border: 1px solid white;
  margin-left: 10px;
  transition: background 0.2s, color 0.2s, border-color 0.2s;

  &:hover {
    background:goldenrod ;
    color: white;
    border-color: rgb(91, 1, 91);
  }
}