.navbar {
  background: rgb(183, 183, 196);
  list-style: none;
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 2rem;
    color: #3c1eea;
    transition: color 0.2s;
    
    &:hover {
      color: rgb(235, 81, 212);
    }
  }

  .navbar-nav {
    .nav-link {
      color: #4812dc;
      transition: color 0.2s;

      &.active {
        font-weight: 700;
        opacity: 1;
      }

      &:hover {
        color: rgb(244, 81, 193);
      }
    }
  }

  .dropdown-toggle {
    color: #050101;
  }

  .navbar-svg {
    width: 30px;
    height: 30px;
    transition: background-color 0.2s;

    &:hover {
      background-color: green;
    }
  }
}

.dropdown-menu {
  background: #fff;
  color: #222;
  border: 1px solid #eee;

  .dropdown-item {
    color: #222;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: #e6e8ff;
      color: #4746ff;
    }
  }
}

.form-control {
  background: #fff;
  color: #222;
  border: 1px solid #eee;
}

.btn-search {
  background: #fff;
  color: #222;
  border: 1px solid #eee;
  margin-left: 10px;
  transition: background 0.2s, color 0.2s, border-color 0.2s;

  &:hover {
    background: #010110;
    color: #fff;
    border-color: #4746ff;
  }
}